    <body>
        <ul>
            
            <li>
                <b><span class="title">
                    
                    
                    A complex matrix factorization approach to joint modeling of magnitude and phase for source separation,
                    
                </span></b>
		<br>
		
		<i><span class="authors">
		    Chaitanya Ahuja, Karan Nathwani, and Rajesh M Hegde,
                </span></i>
		<br>

                <span class="venuetype"></span><span class="venue">arXiv preprint arXiv:1411.6741</span>,
                <span class="date">
                    
                    2014.
                </span>
		<br>
                <span class="links">
                
                    <a href="https://github.com/chahuja/jointCMF/">[Github]</a>
                
                    <a href="https://arxiv.org/abs/1411.6741">[arXiv]</a>
                
                </span>
            </li>

            
        </ul>
    </body>
