    <body>
        <ul>
            
            <li>
                <b><span class="title">
                    
                    
                    Multimodal Machine Learning: A Survey and Taxonomy,
                    
                </span></b>
		<br>
		
		<i><span class="authors">
		    Tadas Baltrusaitis, Chaitanya Ahuja, and Louis-Philippe Morency,
                </span></i>
		<br>

                <span class="venuetype"></span><span class="venue">arXiv preprint arXiv:1705.09406</span>,
                <span class="date">
                    
                    2017.
                </span>
		<br>
                <span class="links">
                
                    <a href="https://arxiv.org/abs/1705.09406">[arXiv]</a>
                
                </span>
            </li>

            
        </ul>
    </body>
