    <body>
        <ul>
            
            <li>
                <b><span class="title">
                    
                    
                 Language2Pose: Natural Language Grounded Pose Forecasting
                    
                </span></b>
		<br>
		
		<i><span class="authors">
		    Chaitanya Ahuja and Louis-Philippe Morency,
                </span></i>
		<br>

                <span class="venuetype"></span><span class="venue"></span>
                <span class="date">
                    
                    2019.
                </span>
		<br>
                <span class="links">
                
                    <a href="https://arxiv.org/pdf/1907.01108.pdf">[pdf]</a>
                
                    <a href="https://github.com/chahuja/language2pose">[github]</a>
                
                    <a href="http://chahuja.com/language2pose">[project-website]</a>
                
                </span>
            </li>
            
        </ul>
    </body>
