    <body>
        <ul>
            
            <li>
                <b><span class="title">
                    
                    
                    Multimodal Machine Learning: A Survey and Taxonomy,
                    
                </span></b>
		<br>
		
		<i><span class="authors">
		    Tadas Baltrusaitis, Chaitanya Ahuja, and Louis-Philippe Morency,
                </span></i>
		<br>

                <span class="venuetype"></span><span class="venue">TPAMI</span>,
                <span class="date">
                    
                    2018.
                </span>
		<br>
                <span class="links">
                
                    <a href="https://arxiv.org/abs/1705.09406">[arXiv]</a>
                
                </span>
            </li>

            
        </ul>


        <ul>
            
            <li>
                <b><span class="title">
                    
                    
                    Lattice Recurrent Unit: Improving Convergence and Statistical Efficiency for Sequence Modeling,
                    
                </span></b>
		<br>
		
		<i><span class="authors">
		    Chaitanya Ahuja and Louis-Philippe Morency,
                </span></i>
		<br>

                <span class="venuetype"></span><span class="venue">AAAI</span>,
                <span class="date">
                    
                    2018.
                </span>
		<br>
                <span class="links">
                
                    <a href="https://arxiv.org/pdf/1710.02254.pdf">[pdf]</a>
                
                    <a href="https://github.com/chahuja/lru">[github]</a>
                
                    <a href="files/ppt_lru_speakingreq.pdf">[presentation]</a>
                
                    <a href="http://chahuja.com/lru">[project-website]</a>
                
                </span>
            </li>

            
            <li>
                <b><span class="title">
                    
                    
                    Fast modelling of pinna spectral notches from HRTFs using linear prediction residual cepstrum,
                    
                </span></b>
		<br>
		
		<i><span class="authors">
		    Chaitanya Ahuja and Rajesh M Hegde,
                </span></i>
		<br>

                <span class="venuetype"></span><span class="venue">IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)</span>,
                <span class="date">
                    
                    2014.
                </span>
		<br>
                <span class="links">
                
                    <a href="files/icassp_chahuja_paper.pdf">[pdf]</a>
                
                </span>
            </li>

            
            <li>
                <b><span class="title">
                    
                    
                    Extraction of pinna spectral notches in the median plane of a virtual spherical microphone array,
                    
                </span></b>
		<br>
		
		<i><span class="authors">
		    Ankit Sohni, Chaitanya Ahuja, and Rajesh M Hegde,
                </span></i>
		<br>

                <span class="venuetype"></span><span class="venue">4th Joint Workshop on Hands-free Speech Communication and Microphone Arrays (HSCMA)</span>,
                <span class="date">
                    
                    2014.
                </span>
		<br>
                <span class="links">
                
                    <a href="files/hscma_chahuja_paper.pdf">[pdf]</a>
                
                </span>
            </li>

            
        </ul>
    </body>
